services:
  api_r6tracker_dev:
    container_name: api_r6tracker_dev
    profiles:
      - development
    build:
      context: ./
      dockerfile: ./Dockerfile.dev
    ports:
      - 5000:5000
    environment:
      - NODE_ENV=development
    volumes:
      - ./:/usr/src/api
      - /usr/src/api/node_modules
    env_file:
      - .env
   
    restart: unless-stopped
    networks:
      - caddy_jellyfin_network
      - R6Tracker_dev_network
  db_r6Tracker_dev:
    image: postgres:15-alpine
    container_name: db_r6Tracker_dev
    restart: always
    env_file:
      - .env
    profiles:
      - development
    volumes:
      - ./db/postgres_data_dev:/var/lib/postgresql/data
   
    networks:
      - caddy_jellyfin_network
      - R6Tracker_dev_network
    healthcheck: # Utilise les variables du conteneur pour éviter le mauvais nom de DB
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $${POSTGRES_DB:-postgres}"]
      interval: 5s
      timeout: 5s
      retries: 5
  api_r6tracker_prod:
    container_name: api_r6tracker
    profiles:
      - production
    build:
      context: .
      dockerfile: ./Dockerfile.prod
    env_file:
      - .env.prod
    # labels:
    #   "traefik.enable": "true"
    #   "traefik.docker.network": "traefik-network"
    #   "traefik.http.middlewares.https-redirect.redirectscheme.scheme": "https"
    #   "traefik.http.middlewares.https-redirect.redirectscheme.permanent": "true"
    #   "traefik.http.routers.api-r6tracker-http.rule": "Host(`${VPS_API_URL}`) && PathPrefix(`/api`)"
    #   "traefik.http.routers.api-r6tracker-http.entrypoints": "web"
    #   "traefik.http.routers.api-r6tracker-http.middlewares": "https-redirect"
    #   "traefik.http.routers.api-r6tracker.rule": "Host(`${VPS_API_URL}`) && PathPrefix(`/api`)"
    #   "traefik.http.routers.api-r6tracker.entrypoints": "websecure"
    #   "traefik.http.routers.api-r6tracker.tls": "true"
    #   "traefik.http.routers.api-r6tracker.tls.certresolver": "letsencrypt"
    #   "traefik.http.services.api-r6tracker.loadbalancer.server.port": "5000"
    #   "traefik.http.services.api-r6tracker.loadbalancer.server.scheme": "http"
    restart: unless-stopped
    networks:
      - caddy_jellyfin_network
      - R6Tracker_prod_network
      # - traefik-network
      

  db_r6Tracker_prod:
    image: postgres:15-alpine
    container_name: db_r6Tracker_prod
    restart: always
    ports:
      - 5432:5432
    profiles:
      - production
    volumes:
      - ./db/postgres_data_prod:/var/lib/postgresql/data
    env_file:
      - .env.prod
    # networks:
    #   - R6Tracker
    networks:
      - caddy_jellyfin_network
      - R6Tracker_prod_network
    healthcheck: # Utilise les variables du conteneur pour éviter le mauvais nom de DB
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $${POSTGRES_DB:-postgres}"]
      interval: 5s
      timeout: 5s
      retries: 5
    # labels:
    #   "traefik.enable": "true"
    #   "traefik.docker.network": "traefik-network"
    #   "traefik.http.middlewares.https-redirect.redirectscheme.scheme": "https"
    #   "traefik.http.middlewares.https-redirect.redirectscheme.permanent": "true"
    #   "traefik.http.routers.api-r6tracker-http.rule": "Host(`${VPS_API_URL}`) && PathPrefix(`/api`)"
    #   "traefik.http.routers.api-r6tracker-http.entrypoints": "web"
    #   "traefik.http.routers.api-r6tracker-http.middlewares": "https-redirect"
    #   "traefik.http.routers.api-r6tracker.rule": "Host(`${VPS_API_URL}`) && PathPrefix(`/api`)"
    #   "traefik.http.routers.api-r6tracker.entrypoints": "websecure"
    #   "traefik.http.routers.api-r6tracker.tls": "true"
    #   "traefik.http.routers.api-r6tracker.tls.certresolver": "letsencrypt"
    #   "traefik.http.services.api-r6tracker.loadbalancer.server.port": "5000"
    #   "traefik.http.services.api-r6tracker.loadbalancer.server.scheme": "http"

  adminer:
    container_name: adminer_r6Tracker
    image: adminer
    profiles:
      - development
    ports:
      - 9090:8080
    env_file:
      - .env
   
    networks:
      - caddy_jellyfin_network
      - R6Tracker_dev_network
    depends_on:
      db_r6Tracker_dev:
        condition: service_healthy

  prisma_studio:
    container_name: prisma_studio
    profiles:
      - development
    image: timothyjmiller/prisma-studio
    ports:
      - 5555:5555
    env_file:
     - .env
    networks:
      - caddy_jellyfin_network
      - R6Tracker_dev_network
    
    depends_on:
      db_r6Tracker_dev:
        condition: service_healthy

networks:
  caddy_jellyfin_network:
    external: true

  R6Tracker_dev_network:
    driver: bridge

  R6Tracker_prod_network:
    driver: bridge

volumes:
  db_r6Tracker_dev_data:
  db_r6Tracker_prod_data:
